nav {
  height: 50px;                                     /* Size of the navabar border. */
  background: #e56a54;                            /* Color of the background of navbar. */
}

.nav-links {                                        /* Positioning of the menu bar. */
    display: flex;                                  /* Positioning of the navbar buttons. */
    list-style: none;
    justify-content: space-around;                  /* That there is some space around the buttons top navbar. */
    align-items: center;                            /* Center the buttons. */
  }
  
.nav-links li a {                                   /* Text in the navbar. */
    color: #00555c;                               /* Define the color of the text. */
    font-size: 20px;                                /* Size of the font. */
    text-decoration: none;                          /* This wil delete the line below the text. */
    font-family: Arial, Helvetica, sans-serif;      /* The font-family. */
  }

  table, th, td {
    border: 1px solid black;                      /* The border colour of the table. */
    border-collapse: collapse;                      /* The collapsing borders model for two tables. */
  }
  th, td {
    padding: 5px;                                   /* The padding of the th and td. */
    text-align: left;                               /* The align of the text. */
  }

  th {
  background-color:#D8D8D8;                       /* The background colour of the table heads. */
  }

  .table1 {
    background-color: #D8D8D8;                    /* The background colour of the class "table1" */
  }

  .table_ja {
    background-color: green;                      /* The background colour of the class "table_ja" */
  }

  .table_nee {
    background-color: red;                        /* The background colour of the class "table_nee" */
  }

  .nummer-test2 {
    float: right;

  }

  .nummer-test1 {
    float: left;

  }

  .titel-voorblad {
    font-size: 2px;
  }

.no-border-top{
  border-top-color:#00000000;
  height:                 25px;
}

.no-border-bottom{
  border-bottom-color:#00000000;
  height:                 25px;
}

.no-border-right{
  border-right-color:#00000000;
  height:                 25px;
}

.no-border-left{
  border-left-color:#00000000;
  height:                 25px;
}